body {
  font-family: serif;
}

header {
  padding-top: 30px;
}

.kasia {
  padding-left: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.kasia1 {
  padding-left: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}
p {
  padding-left: 30px;
  font-size: 20px;
}
