body {
  font-family: 'Patrick Hand', 'Shadows Into Light Two', 'The Girl Next Door', 'Droid Sans', "Helvetica", sans-serif;
    /* background-image: url("zigi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  */
}
header {
  padding-top: 30px;
  font-family: 'Just Another Hand', 'Patrick Hand', 'Shadows Into Light Two';
  padding-bottom: 150px;
  width: 95vw;
}
p {
  padding-left: 30px;
  font-size: 20px;
}

